@{
    Layout = "~/Views/RegisteredUser/RegisterLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
    <title></title>
</head>
<body>
    <div>
        <form method="post" action="">

            <table>
                <tr>
                    <td><p>Ім'я Прізвище: </p></td>
                    <td>@ViewBag.User.UserName</td>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td><p>Інтереси: </p></td>
                    <td>
                        @foreach (var inter in ViewBag.User.Interests)
                        {
                            <p>@inter,</p>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        @if (ViewBag.Path.PathLen == 2)
                        {
                            <p>Ви друзі</p>
                        }
                        else if (ViewBag.Path.PathLen == -1 || ViewBag.Path.PathLen == 0)
                        {
                            //nothing
                        }
                        else
                        {
                            <p>Відстань до цього користувача: @(ViewBag.Path.PathLen-1)</p>

                            foreach (var u in ViewBag.Path.PathToUser)
                            {
                                <p>@u.UserName -> </p>
                            }
                        }
                    </td>
                </tr>
                @if (ViewBag.Path.PathLen != 2 && ViewBag.Path.UserFromId != ViewBag.Path.UserToId)
                {
                    <tr><td><input type="submit" value="Додати в друзі" /> </td><td></td></tr>
                }
            </table>
            </form>
    </div>
</body>
</html>