
@{
    Layout = "~/Views/Posts/Posts_Layout.cshtml";
}

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
        <title>Додати коментар</title>
    </head>
    <body>
        <div>
            <form method="post" action="">
                <p>Коментар:</p>
                <p><textarea name="comment"></textarea></p>
                <p><input type="submit"></p>
            </form>
        </div>
    </body>
    </html>