@{
    Layout = "~/Views/Posts/Posts_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
    <title>Додати Пост</title>
</head>
<body>
    <div>
        <form method="post" action="">
            <p>Титул:</p>
            <p><textarea name="Title"></textarea></p>
            <p>Текст:</p>
            <p><textarea name="Body"></textarea></p>
            <p>Теги:</p>
            <p><textarea name="Tags"></textarea></p>
            <p><input type="submit"></p>
        </form>
    </div>
</body>
</html>
